<body>
    <div>
        <div>
            <div class="img-pulsacion">
                <img class="corazon" src="../../../assets/images/pngwing.com.png" alt="Pulsaciones">
                <img class="muñeca" src="../../../assets/images/pulsoMuñeca.png" alt="Pulsacion Muñeca">
                <img class="cuello" src="../../../assets/images/cuello.png" alt="Pulsaciones Cuello">
                <img class="frecuencia" src="../../../assets/images/frecuencia.png" alt="Frecuencia Cardiaca">
            </div>
            <div class="p-pulsacion">
                <h1 class="titulo">Las Pulsaciones</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa numquam suscipit ad exercitationem. Voluptatum, provident eius corporis eaque, reiciendis fuga temporibus id mollitia iusto eum blanditiis illum numquam, voluptatibus ipsum
                    praesentium quasi magni! Voluptas atque, repellat amet dolores nulla asperiores dolorem ipsam repellendus incidunt. Provident, labore. Sequi fugit quisquam cum iusto blanditiis, saepe aliquid aliquam reprehenderit alias optio vero
                    assumenda atque at perspiciatis nihil voluptatem libero eum minus praesentium? Nemo iusto, laborum dolorum ab maxime ut ipsum necessitatibus neque, expedita laboriosam, rem corrupti aliquam sunt accusantium! Ullam voluptates repellat
                    quam, sunt quibusdam voluptatum? Iusto impedit obcaecati minima. Repudiandae, provident laborum.</p>
                <h2>¿Que es el pulso?</h2>
                <p>
                    El Pulso es el latido de las arterias que se genera cada vez que el corazón se contrae. Tomando el pulso podemos saber la frecuencia cardíaca y conocer si esta es normal y si es regular o irregular. De esta forma fácilmente podemos definir el ritmo del
                    Corazón
                </p>
                <h2>¿Donde se mide el pulso?</h2>
                <p>Existen ciertas zonas del cuerpo donde el pálpito se percibe con mayor claridad, Estos son:
                </p>
                <ol>
                    <li>Cuello</li>
                    <li>Muñeca</li>
                    <li>Sien</li>
                    <li>Ingle</li>
                    <li>Cara interna del pie</li>
                </ol>

                <h2>¿Como tomar el pulso?</h2>
                <ol>
                    <h4>
                        <li>Como tomar el pulso en la muñeca</li>
                    </h4>
                    <ol>
                        <li>Siéntate y descansa por unos minutos</li>
                        <li> Extiende uno de tus brazos con la palma de la mano hacia arriba</li>
                        <li>Pon 2 dedos de la otra mano en la muñeca, por arriba del dedo pulgar y busca en el hueco que queda entre el hueso y el tendón el latido arterial; concéntrate y búscalo moviendo los dedos y haciendo ligera presión; extender la mano
                            puede ayudar.
                        </li>
                        <li>Una vez ubicado el pulso, cuenta cuantos latidos hay en 30 segundos; si lo multiplicas por 2 tienes la frecuencia cardíaca.
                        </li>
                        <li>Es importante también que prestes atención a si el latido del pulso es regular o irregular</li>
                    </ol>
                    <br>
                    <h4>
                        <li>Como Tomar El Pulso En El Cuello</li>
                    </h4>
                    <p>Debes Estar tranquilo, relajada y sin haber hecho ejercicio físico previamente. En primer lugar, coloca el dedo índice y el corazón sobre el cuello, justo bajo el mentón. Luego, presionarlo ligeramente, sin comprimirlo, hasta que notes
                        los latidos. Para medirlo, cuenta los latidos durante 30 segundos y multiplica el número total de latidos por 2. La cifra resultante es la de tus pulsaciones por minuto, que es lo que denominamos pulso.</p>
                </ol>
                <br>
                <h2>Frecuencia Cardiaca</h2>
                <p>La frecuencia cardíaca es el número de contracciones del corazón o pulsaciones por unidad de tiempo . Se mide en condiciones determinadas y se expresa en pulsaciones por minuto a nivel de las arterias periféricas y en latidos por minuto
                    a nivel del corazón. La medición del pulso se puede detectar en distintos puntos, pero lo más habitual es que se lo mida en la muñeca, en el cuello o en el tórax.</p>
            </div>
        </div>
    </div>
</body>